aws_region           = "us-east-1"
environment          = "production"
service_name         = "a-bank-wallet-service"
container_image      = "464868388812.dkr.ecr.us-east-1.amazonaws.com/a-bank-wallet-service:latest"
container_port       = 8080
cpu_units            = "256"
memory_units         = "512"
fargate_desired_count = 1

cloudflare_email     = "sre-lead@bank.com"
cloudflare_api_key   = "redacted-global-api-key"
cloudflare_zone_id   = "redacted-cloudflare-zone-id"
subdomain_name       = "wallet.a-bank.com.mm"
